shivalry.dev:443 {
    root * /build route {
        reverse_proxy /api* mimi-api:4000 try_files {
            path
        }

            {
            path
        }

        / /index.html file_server
    }

    file_server
}